.grid{
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column;
}

.flex{
  display: flex;
}

strong{
  font: inherit;
  color: var(--red);
}

.text-subtitle{
  font: var(--inconsolata-subtitle);
  color: var(--gray-500);
}

.text-lg{
  font: var(--asap-title-lg);
}

.text-sm{
  font: var(--text-sm);
  color: var(--gray-400);
}

.text-md{
  font: var(--text-md);
  color: var(--gray-500);
}

.asap-md{
  font: var(--asap-title-md);
  color: var(--gray-600);
}

.asap-sm{
  font: var(--asap-title-sm);
  color: var(--gray-600);
}

.gap-16{
  gap: 16px;
}

.gap-8{
  gap: 8px;
}

.gap-24{
  gap: 24px;
}

.bottom-8{
  padding-bottom: 8px;
}

.bottom-56{
  padding-bottom: 56px;
}

.top-48{
  padding-top: 48px;
}
